* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: #0d1117;
  }
  
  .container {
    display: grid;
    grid-template-areas:
      "input input"
      "img output";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    color: #fafafa;
    gap: 1em;
    white-space: pre-line;
  }
  
  .input {
    grid-area: input;
    height: 0;
    padding: 2em 1em;
    align-self: end;
  }
  
  .terminal {
    font-family: monospace;
    background: #161b22;
    display: flex;
    align-items: center;
    padding-left: 1em;
    border-radius: 6px;
  }
  
  .output {
    grid-area: output;
    line-height: 1.4em;
    display: block;
  }
  
  .img {
    width: 280px;
    grid-area: img;
  }
  
  .purple {
    color: #d2a8ff;
  }
  
  .red {
    color: #ff7b72;
  }
  
  .blue {
    color: #79c0ff;
  }
  
  .green {
    color: #7ee787;
  }
  
  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 3fr 3fr;
      grid-template-areas: "input" "img" "output";
      margin-bottom: 2em;
    }
  }
  
  .site{
    color: white !important;
  }

  .blinking {
    -webkit-animation: 1s blink ease infinite;
    -moz-animation: 1s blink ease infinite;
    -ms-animation: 1s blink ease infinite;
    -o-animation: 1s blink ease infinite;
    animation: 1s blink ease infinite;
    color: #7ee787;
    
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }


  