ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
	color: #34495e;
}

a {
	text-decoration: none;
}



.logo {
	margin: 0;
}

.main-nav {
	margin-top: 1px;
  margin-left: 75px;
}
.logo a,
.main-nav a {
	padding: 10px 25px;
	text-transform: uppercase;
	text-align: center;
	display: block;
  text-decoration: none;
}

.main-nav a {
  padding-top: 20px;
	color: #34495e;
	font-size: 1em;
}

.main-nav a:hover {
	color: #aa5404;
}



.header {
  display: flex;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; 
  
}


*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: #dedede;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  .screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .screen-header-left {
    margin-right: auto;
  }
  
  .screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
  }
  
  .screen-header-button.close {
    background:#e28743;
  }
  
  .screen-header-button.maximize {
    background: #e8e925;
  }
  
  .screen-header-button.minimize {
    background: #74c54f;
  }
  
  .screen-header-right {
    display: flex;
  }
  
  .screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #e28743;
    font-size: 26px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: rgb(183, 183, 183);
  }
  
  .app-form-group {
    margin-bottom: 15px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color:rgb(183, 183, 183);
  }
  
  .app-form-control:focus {
    border-bottom-color: #ddd;
  }
  
  .app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
  
  .app-form-button:hover {
    color: #b9134f;
  }
  
  .credits {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #ffa4bd;
    font-family: 'Montserrat', sans-serif , "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  
  .credits-link {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .dribbble {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
  @media only screen and (min-width : 600px) {
    .navtoggle{
      display: none;
    }
  }


/* Smartphones (landscape) ----------- */
 
@media only screen and (min-width : 321px) and (max-width : 480px) {
 
  body{
    width: 100% !important;
    height: 100% !important;
  }

  .card {
    margin-top: 5%;
  }
  .card p{
    display: none;
  }

  .satin-al{
    display: grid;
    align-items: center;
    padding: 10%;
    }
    .satin-al2{
      margin-top: 5%;
      display: grid;
      justify-content: space-around;
      }

      .coming-concerts{
        display: grid;
        place-items: center;
        min-height: 15vh !important;
        margin-bottom: 10px;
        margin-top: 10px;
        animation-name: scaling;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
  
      @keyframes scaling {
        0% {
          transform: scale(0.6);
        }
        50% {
          transform: scale(0.8);
        }
        100% {
          transform: scale(0.6);
        }
        
      }
  
      .coming-concerts h1{
          font-size: clamp(3rem, 5vmin, 6rem);
          font-family: sans-serif;
          color: #34495e;
        }
        
        .main-nav {
          display: none;
        }

        .slider{
            position: relative;
            margin-right: 200px;
        }
        .slider img{
          width: 100% !important;
          height: 100% !important;
        }

        .carousel-inner{
          width: 100% !important;
          height: 50%;
        }
        .carousel-inner img{
          width: 100% !important;
          height: 100% !important;
        }

        .spor2{
          display: grid;
        }

        .programs{
          display: grid;
          justify-content: center;
        }

        .programs-text{
          margin-top: 5%;
        }
        #text{
          font-size: 30px;
        }
        
        body {
          background-color: #f9f9f9;
          margin: 0;
          padding: 0;
        }
        a {
          text-decoration: none;
          color: #1E1E23;
          opacity:1;
          font-family: 'work sans', sans serif;
          font-size: 1.5em;
          font-weight: 400;
          transition: 200ms;
        }
        a:hover {
          opacity:0.5;
        }
        ul {
          padding: 0;
          list-style-type: none;
        }
      
        .content {
          border: 1px solid #36383F;
          border-radius: 20px;
          width: 94%;
          height: 91%;
          background-color: #0032f9;
          overflow: hidden;
        }
        .navtoggle {
          background-color: #541212;
          height: 65px;
          position: inherit;
        }

        .navtoggle ul {
          padding-top: 80px !important;
        }

        .navtoggle a {
          text-decoration: none;
          color: #1E1E23;
          opacity:1;
          font-family: 'work sans', sans serif;
          font-size: 1.5em;
          font-weight: 400;
          transition: 200ms;
        }
        
        
        #menuToggle {
          display: flex;
          flex-direction: column;
          position: relative;
          top: 25px;
          left: 25px;
          z-index: 1;
          -webkit-user-select: none;
          user-select: none;
        }
        
        #menuToggle input
        {
          display: flex;
          width: 300px !important;
          height: 52px;
          position: absolute;
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          padding: 20px;
        }
        
        #menuToggle span
        {
          display: flex;
          width: 29px;
          height: 2px;
          margin-bottom: 5px;
          position: relative;
          background: #ffffffa4;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 5px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }
        
        #menuToggle span:first-child
        {
          transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2)
        {
          transform-origin: 0% 100%;
        }
        
        #menuToggle input:checked ~ span
        {
          opacity: 1;
          transform: rotate(45deg) translate(-3px, -1px);
          background: #36383F;
        }
        #menuToggle input:checked ~ span:nth-last-child(3)
        {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }
        
        #menuToggle input:checked ~ span:nth-last-child(2)
        {
          transform: rotate(-45deg) translate(0, -1px);
        }
        
        #menu
        {
          position: absolute;
          width: 100%;
          height: 300px;
          box-shadow: 0 0 10px #85888C;
          margin: -50px 0 0 -50px;
          padding: 50px;
          padding-top: 75px;
          background-color: #F5F6FA;
          -webkit-font-smoothing: antialiased;
          transform-origin: 0% 0%;
          transform: translate(-100%, 0);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
          text-transform: uppercase;
          background: rgba(255, 255, 255, 0.952);
        }
        
        #menu li
        {
          padding: 1px 0;
          transition-delay: 2s;
        }
        
        #menuToggle input:checked ~ ul
        {
          transform: none;
        }

}

.buttonuye{
  display: none;
}
 
/* Tablets (landscape) ----------- */
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  
  .satin-al{
    display: grid;
    align-items: center;
    padding: 10%;
    }
    .satin-al2{
      margin-top: 5%;
      display: grid;
      justify-content: space-around;
      }

      .card {
        margin: 59%;
      }

      .card p{
        display: none;
      }
}
/* Tablets (portrait) ----------- */
 
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
 

  .satin-al{
    justify-content: space-around;
      }
    .satin-al2{
      margin-top: 5%;
      justify-content: space-around;
      }

  .card .btn{
    position: relative;
    bottom: -20px;
  }

  .card{
    display: grid;
  }

}
